.tab-content {
  display: none;
  &--active {
    display: block;
  }
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  color: $main-color;
  font-size: 16px;
  line-height: 26px;
  @extend %quicksand-500;
}
.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-btn {
  box-shadow: 0 7px 20px rgba(255, 17, 48, 0.3);
  background-color: $accent;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.8px;
  padding: 13px 25px;
  @extend %roboto-400;
}

.title {
  color: $title-color;
  @extend %roboto-700;
  font-size: 58px;
  line-height: 68px;
}
