$accent: #fe3e57;
$main-color: #8d8d8d;
$title-color: #29282d;

%roboto-400 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

%roboto-500 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

%roboto-700 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

%quicksand-400 {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

%quicksand-500 {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

%flex-sb {
    display: flex;
    justify-content: space-between;
}

%second-btn {
    display: inline-block;
    margin-top: 60px;
    letter-spacing: 3.2px;
    color: $title-color;
    text-transform: uppercase;
    padding: 19px 29px;
    border: 1px solid $accent;
}

@function max($numbers...) {
    @return m#{a}x(#{numbers});
}
@function min($numbers...) {
    @return m#{i}n(#{numbers});
}
